


 .blue{
    background-color: blue;
    color: white;
}
 .red{
    background-color: red;
    color: white;
}

 .green{
    background-color: green;
    color: white;
}

 .violet{
    background-color: violet ;
    color: white;
}

 .black{
    background-color: black;
    color: white;
} 